html, body, #app {
	height: 100%;
	margin: 0;
}

.archive {
	display: flex;
    height: 100%;
}

.channels_list {
	margin-right: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	flex: 1;
}

.channels__link {
	display: block;
	padding: 3px 5px;
}

.content_area {
	flex: 5;
}

.channel_title {
	font-size: 24px;
	font-weight: bold;
	height: 20px;
	padding: 10px;
}

.message__username {
	margin: 0px 15px;
	font-weight: bold;
}

.message-area {
	overflow-x:hidden;
	overflow-y:scroll;
	height: calc(100% - 40px);
	width: 100%;
	position: absolute;
}

.message {
	margin-top: 10px;
}

.message__avatar {
	display: inline-block;
}

.message__info {
	display: inline-block;
}
